*{
    font-family: verdana;
    margin: 0px;
    padding: 0px;

}
body {
    background:rgb(129, 160, 118);
}

h1 {
    margin: 20px;
    text-transform: uppercase;
    color:white;
}
#text {
    margin: 20px 150px;
}
a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 30px;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color:rgb(106, 136, 95);
}
table {
    width: 40%;
}
td {
    border: 3px solid black;
    
}

/* mosaic */

.height100 {
    height: 100px;
    width:100%;
    display: none;
}
.height200 {
    height: 210px;
    width: 100%;
    display: none;
}
.h100 {
    height: 100px;
}

@keyframes backGr {
    from {background-color: rgb(129, 160, 118);}
    to {background-color: rgb(181, 214, 169);}
}
@keyframes backGr1 {
    from {background-color: rgb(181, 214, 169);}
    to {background-color: rgb(129, 160, 118);}
}


/* table */


#generateTable {
    padding: 10px 5px;
    background-color:rgb(106, 136, 95)
}
