*{
    font-family: verdana;
    margin: 0px;
    padding: 0px;

}
body {
    background:rgb(129, 160, 118);
}

h1 {
    margin: 10px;
    text-transform: uppercase;
    color:white;
    text-align: center;
}
#text {
    margin: 20px 150px;
}
footer a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 30px;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color:rgb(106, 136, 95);
}
table {
    width: 40%;
}
td {
    border: 3px solid black;
}

/* mosaic */

.height100 {
    height: 100px;
    width:100%;
    display: none;
}
.height200 {
    height: 210px;
    width: 100%;
    display: none;
}
.h100 {
    height: 100px;
}

@keyframes backGr {
    from {background-color: rgb(129, 160, 118);}
    to {background-color: rgb(181, 214, 169);}
}
@keyframes backGr1 {
    from {background-color: rgb(181, 214, 169);}
    to {background-color: rgb(129, 160, 118);}
}


/* table */
#table td {
    padding: 50px;
    border:4px solid rgb(74, 102, 64);
}



/* profile */

#profile {
    margin-top: 25px;
    margin-left: 25px;
}
#profile input {
    margin-bottom: 15px; 
    width: 350px;
}
#profile label {
    font-size:13px;
}
.width25 {
    width: 25px !important;
}

.button {
    width: 350px;
    margin-bottom: 25px;
    margin-left: 25px;
}
#data{
    margin-bottom: 25px;
    margin-left: 25px;
}
#education {
    width: 350px;
}

#ref {
    display: none;
}

/* snake */

#fftable td{
    padding: 20px;
    margin: 0px ;
    border: none !important;

    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;

}
#fftable {
    margin: 0px;
    padding: 0px;
    border:10px solid rgb(74, 102, 64);
    border-collapse: separate;
    border-spacing: 0px;
    z-index: 100;
    height: 80%;
    
}
#snake{
    background-image: url("../snake/image/head2.png");
    background-position: center center;
    background-repeat: no-repeat;
}

#restartButton {
    color: rgb(74, 102, 64); 
    text-decoration: none; 
    padding: 20px 50px; 
    border: 2px solid rgb(74, 102, 64); 
}
#score{
    margin-bottom: 10px;
    color: white;
}

#gameOver {
    font-size:50px; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 20px;

}
#result{
    text-align: center; 
    margin-bottom: 80px;
}
